<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Users</h1>
<a href="/users/new">
    <button>Create User</button>
</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/users/edit(id=${user.id})}">
                <button>Edit</button>
            </a>
            <form th:action="@{/users/delete(id=${user.id})}" method="post" style="display:inline;">
                <button>Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>